<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>ScrimPay</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'scrimpay_app/style.css' %}">
</head>

<body class="center">
    <h1 class="header">
        ScrimPay
    </h1>

    

    <div class="service_all">

        <!-- {% for u in val %}
            <div>ユーザID : {{u.userid}}</div>
            <div>ユーザ名 : {{u.username}}</div>
        {% endfor %}

        <br>
        <br> -->
        <div class="container">

            <!-- <div class="service">
                <div class="name">Spotify</div>

                <div class="price">
                    <div class="plan">
                        Spotify Premium
                    </div>
                    月額 / 980円
                </div>
                <div class="cancel">

                </div>
            
            </div>
            
            
            <div class="service">
                <div class="name">Amazon Prime</div>

                <div class="price">
                    <div class="plan">
                        Prime Student
                    </div>
                    年額 / 2450円
                </div>
                <div class="cancel">

                </div>

            </div>
            
            
            <div class="service">
                <div class="name">DAZN</div>

                <div class="price">
                    <div class="plan">
                        DAZN for docomo
                    </div>
                    月額 / 1058円
                </div>
                <div class="cancel">

                </div>

            </div>  -->



            {% for i in val %}
            <div class="service">
                <div class="name">{{i.servicename}}</div>
    
                <div class="price">
                    <div class="plan">
                        {{i.serviceid}}
                    </div>
                    {{i.price}}
                </div>
                <div class="cancel">
    
                </div>
                
            </div>
            {% endfor %}
            



        </div>
    </div>

    
</body>
</html>